# This requirements are for development and testing only, not for production.
flake8==7.0.0
tox==4.13.0
pytest==8.1.0
pytest_asyncio==0.23.5
pytest-rerunfailures==14.0
mypy==1.8.0
types-setuptools==69.1.0.20240223
botright==0.5.1
playwright==1.42.0
black==24.1.1
isort==5.13.2